/*=================FONTS=================*/

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        }
        .bungee-tint-regular {
          font-family: "Bungee Tint", sans-serif;
          font-weight: 400;
          font-style: normal;
        }
        
  


/*===============HEADER GRID===============*/

header{
  display: grid;
  grid-template-rows: repeat(10, 100px);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  grid-template-areas:
  ". . . . . . . . . . . . "
  ". . . one one one one one one one . . "
  ". . two two two two two two two two . . "
  ". . . . . . . . . . . . "
  ". . . . three three three three three . . . "
  ". . . . . . . . . . . . "
  ;
}
  #navbar{
      grid-area: three;
      padding-left: 20px;
      align-self: end;
      }
      #navbar button{
        margin-right: 15px;
        border-radius: 8px;
        background-color: bisque;
        padding: 8px 12px
      }
      .title{
          grid-area: one;
          white-space: nowrap;
          padding-bottom: 20px;
          }
          .title-two{
              grid-area: two;
              white-space: nowrap;
              padding-top: 20px;
              }

/*------------------STYLE-------------------*/

#navbar a{
    color: rgb(39, 55, 12);
    font-size: 18px;
    text-decoration: none;
    }
    .title{
        font-family: Montserrat;
        font-size: 55px;
        color: rgb(255, 251, 246);
        width: 686px;
        height: 173px;
        flex-shrink: 0;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
        .title-two{
            font-family: Montserrat;
            font-size: 55px;
            color: rgb(255, 251, 246);
            width: 686px;
            height: 173px;
            flex-shrink: 0;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }



/*===============BODY===============*/
body {
  margin: 0;
  height: 200%; /* Full height of the page */
  background: 
    linear-gradient(to bottom, #444425 25%, transparent 50%), /* Dark green at the top */
    url('../img/darkleaves.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background image fixed when scrolling */
  background-repeat: no-repeat; /* Prevents image repetition */
  }


    
    
    
/*=======================GRID ONE==========================*/

#grid-one{
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(12, 1fr);
  background-color: bisque;
  position: relative;
  border-radius: 15px;
  margin: 100px 50px 500px 50px;
}
  .grid-article-one{
      grid-column: 2/12;
      grid-row: 2/3;
      align-self: center;
      }
      .grid-article-two{
          grid-column: 7/13;
          grid-row: 6/8;
          padding-left: 50px;
          padding-right: 100px;
          padding-top: 55px;
          }
          .grid-article-three{
              grid-column: 1/7;
              grid-row: 4/8;
              padding-top: 80px;
              padding-right: 20px;
              padding-left: 100px;
              }
              .block-one{
                grid-column: 2/6;
                  grid-row: 3/4;
                  padding-top: 30px;
              }
              .img-one{
                  grid-column: 7/11;
                  grid-row: 2/5;
                  padding-left: 100px;
                  }
                  .img-two{
                      grid-column: 9/12;
                      grid-row: 2/5;
                      padding-left: 50px;
                      }
                      .img-three{
                          grid-column: 11/13;
                          grid-row: 2/5;
                          }

/*------------------STYLE-------------------*/

.grid-article-one h5{
    color: #881515;
    font-family: Sacramento;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    }
    p{
        font-family: Montserrat;
        color: black;
        font-size: 20px;
        margin-top: auto;
        }
        .img-one img{
          height: 95%;
          width: auto;
            }
            .img-two img{
                height: 95%;
                width: auto;
                }
                .img-three img{
                    height: 95%;
                    width: auto;
                    }
                    .block-one p{
                      font-family: Montserrat;
                      color: black;
                      font-size: 35px;
                      background-color: #C9C888;
                      border-radius: 15px;
                      color: rgb(6, 41, 6);
                      text-align: center;
                    }
                    







    .yelp-link-two{
        width: 100px;/* Set the width of the rectangle*/
        height: 25px;/* Set the height of the rectangle */
        background-color: darkolivegreen;/* Set the background color (you can use any color) */
        grid-column: 9/10;
        grid-row: 10/11;
        padding: 0px 10px;
        text-align: center;
        border-radius: 15px;
        color: white;
        text-decoration:none;
        justify-content: center;
        line-height: 25px;
        align-self: center;
        }
        .yelp-link-three{
            width: 100px;/* Set the width of the rectangle*/
            height: 25px;/* Set the height of the rectangle */
            background-color: darkolivegreen;
            grid-column: 2/3;
            grid-row: 15/16;
            padding: 0px 10px;
            text-align: center;
            border-radius: 15px;
            color: white;
            text-decoration:none;
            justify-content: center;
            line-height: 25px;
            }



/*=======================GRID TWO==========================*/

#grid-two{
  display: grid;
  grid-template-rows: repeat(18, 100px);
  grid-template-columns: repeat(14, 1fr);
  background-color: bisque;
  padding-top: 100px;
  border-radius: 15px;
  margin: 100px 50px 500px 50px;
}

.vertical-text-one{
  grid-row: 1/7;
  grid-column: 1/6;
  align-self: center;
  z-index: 2;
}
.bene-title{
  grid-row: 2/3;
  grid-column: 3/10;
  align-self: center;
}



.bene-img-one{
  grid-row: 2/8;
  grid-column: 9/15;
  align-self: center;
}.bene-img-two{
  grid-row: 8/15;
  grid-column: 2/4;
  align-self: center;
}.bene-img-three{
  grid-row: 8/15;
  grid-column: 5/7;
  align-self: center;
}.bene-img-four{
  grid-row: 8/15;
  grid-column: 8/10;
  align-self: center;
}.bene-img-five{
  grid-row: 8/15;
  grid-column: 11/13;
  align-self: center;
}

.grid-article-four{
  grid-row: 1/7;
  grid-column: 2/7;
}

.bene-two{
  grid-row: 3/7;
  grid-column: 3/7;
  z-index: 1;
}
.yelp-link {
  grid-column: 3/4;
  grid-row: 6/7;
  align-self: end;
}



.grid-article-seven{
  grid-row: 6/10;
grid-column: 9/14;
align-self: center;
}

.grid-article-nine{
grid-column: 2/6;
grid-row: 6/10;
align-self: center;
}

.grid-article-ten{
  grid-row: 11/14;
  grid-column: 2/6;
  align-self: center;
}


.grid-article-twelve{
  grid-row: 11/15;
  grid-column: 9/12;
  align-self: center;
}

/*--------------------STYLE-------------------*/

.vertical-text-one h5{
  transform: rotate(270deg);
  font-family: Bungee Tint;
  font-size: 63px;
  text-decoration: underline;
  padding-bottom: 250px;
  color:#881515;
}

.bene-title h5{
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  color:#881515;
  text-decoration: underline;
  margin-right: px;
}

.yelp-link{
  width: 100px;
  height: 25px;
  background-color: darkolivegreen;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  justify-content: center;
  line-height: 25px;
  }



/*===================GRID THREE======================*/

#grid-three{
  display: grid;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  background-color: bisque;
  margin-top: 1000px;
  border-radius: 20px;
}



.grid-article-thirteen{
  grid-row: 2/3;
  grid-column: 3/9;
  align-self: center;
}

.grid-article-fourteen{
  grid-row: 3/4;
  grid-column: 3/8;
  align-self: center;
}

.grid-article-fifteen{
  grid-row: 4/6;
  grid-column: 3/8;
  align-self: top;
}

.yelp-link-four{
  grid-row: 5/6;
  grid-column: 3/4;
  align-self: top;
  width: 100px;/* Set the width of the rectangle*/
  height: 25px;/* Set the height of the rectangle */
  background-color: darkolivegreen;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration:none;
  justify-content: center;
  line-height: 25px;
}

.grid-article-sixteen{
  grid-row: 3/4;
  grid-column: 9/12;
  align-self: center;
  
}

.grid-article-sixteen img{
  border-radius: 117.5px;
}

/*------------------------------------------------*/

.grid-article-thirteen h3{
  color: #881515;
  font-family: Sacramento;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid-article-fourteen h4{
  color: #FFF;
font-family: Sacramento;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.grid-article-fifteen p{
  color: #000;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

footer{
  text-align: center;
  background-color: #344F2F;
  color: #FFF;
  height: 30px;
  padding-top: 10px;
}