/*===============FONTS===============*/

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*===============HEADER===============*/

nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 18px;
}

.top {
    display: flex;
    position: relative; /* Enables flexbox */
    align-items: center; /* Aligns items vertically */
    justify-content: center;
    gap: 15px; /* Adds space between items */
  }

.top h1{
    margin-top: auto;
    font-family: Montserrat;
    font-size: 75px;
    color: white;
    width: 686px;
    height: 173px;
    flex-shrink: 0;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*===============BODY===============*/



body {
  margin: 0;
  height: 200%; /* Full height of the page */
  background: 
    linear-gradient(to bottom, #444425 25%, transparent 50%), /* Dark green at the top */
    url('../img/darkleaves.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background image fixed when scrolling */
  background-repeat: no-repeat; /* Prevents image repetition */
}






    
h5 {
    color: #881515;
    font-family: Sacramento;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;/* Optional: adds space between title and paragraph */
  }
    
p {
    color: black;/* Text color for the paragraph */
    font-size: 20px;/* Font size for the paragraph */
    margin-top: auto;
}
    
/*=======================GRID ONE==========================*/

#grid-one{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  background-color: bisque;
  border-radius: 20px; /* Curves the corners with a radius of 15px */
  padding: 20px;
  margin-top: 500px;
}

.grid-article-one{
grid-column: 2/6;
align-self: center;
}

.grid-article-two{
  grid-column: 6/12;
  align-self: center;
}

.grid-article-three{
  grid-column: 2/12;
}

.short-line {
  height: 2px;
  background-color: darkred;
  grid-column: 3/11;
  grid-row: 3/4;
}

.yelp-link{
  width: 100px;/* Set the width of the rectangle*/
  height: 25px;/* Set the height of the rectangle */
  background-color: darkolivegreen;/* Set the background color (you can use any color) */
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: end;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration:none;
  justify-content: center;
  line-height: 25px;
}

.yelp-link-two{
  width: 100px;/* Set the width of the rectangle*/
  height: 25px;/* Set the height of the rectangle */
  background-color: darkolivegreen;/* Set the background color (you can use any color) */
  grid-column: 9/10;
  grid-row: 10/11;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration:none;
  justify-content: center;
  line-height: 25px;
  align-self: center;
}

.yelp-link-three{
  width: 100px;/* Set the width of the rectangle*/
  height: 25px;/* Set the height of the rectangle */
  background-color: darkolivegreen;
  grid-column: 2/3;
  grid-row: 15/16;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration:none;
  justify-content: center;
  line-height: 25px;
}

img {
  border-radius: 56px;  
}

/*=======================GRID TWO==========================*/

#grid-two{
  display: grid;
  grid-template-rows: repeat(18, 100px);
  grid-template-columns: repeat(14, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  background-color: bisque;
  padding-top: 100px;
  border-radius: 20px;
}

.grid-article-four{
  grid-row: 1/7;
  grid-column: 2/7;
}

.grid-article-five{
  grid-row: 1/5;
  grid-column: 9/15;
  align-self: center;
}

.grid-article-seven{
  grid-row: 6/10;
grid-column: 9/14;
align-self: center;
}

.grid-article-nine{
grid-column: 2/6;
grid-row: 6/10;
align-self: center;
}

.grid-article-ten{
  grid-row: 11/14;
  grid-column: 2/6;
  align-self: center;
}


.grid-article-twelve{
  grid-row: 11/15;
  grid-column: 9/12;
  align-self: center;
}


/*===================GRID THREE======================*/

#grid-three{
  display: grid;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  background-color: bisque;
  margin-top: 1000px;
  border-radius: 20px;
}



.grid-article-thirteen{
  grid-row: 2/3;
  grid-column: 3/9;
  align-self: center;
}

.grid-article-fourteen{
  grid-row: 3/4;
  grid-column: 3/8;
  align-self: center;
}

.grid-article-fifteen{
  grid-row: 4/6;
  grid-column: 3/8;
  align-self: top;
}

.yelp-link-four{
  grid-row: 5/6;
  grid-column: 3/4;
  align-self: top;
  width: 100px;/* Set the width of the rectangle*/
  height: 25px;/* Set the height of the rectangle */
  background-color: darkolivegreen;
  padding: 0px 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  text-decoration:none;
  justify-content: center;
  line-height: 25px;
}

.grid-article-sixteen{
  grid-row: 3/4;
  grid-column: 9/12;
  align-self: center;
  
}

.grid-article-sixteen img{
  border-radius: 117.5px;
}

/*------------------------------------------------*/

.grid-article-thirteen h3{
  color: #881515;
  font-family: Sacramento;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid-article-fourteen h4{
  color: #FFF;
font-family: Sacramento;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.grid-article-fifteen p{
  color: #000;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

footer{
  text-align: center;
  background-color: #344F2F;
  color: #FFF;
  height: 30px;
  padding-top: 10px;
}