.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        }
  





nav a{
    color: #6D7546;
    font-size: 18px;
    text-decoration: none;
    padding: 18px;
    }

h1{
    margin-top: auto;
    font-family: Montserrat;
    font-size: 75px;
    color: white;
    flex-shrink: 0;
    color: #6D7546;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    }
    h3{
        color: #FFF;
        font-family: Sacramento;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        h5{
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
      






body {
    margin: 0;
    height: 200%; /* Full height of the page */
    background: 
      linear-gradient(to bottom, #FDF6E3 12%, transparent 40%),
      url('../../img/darkleaves.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
    background-repeat: no-repeat; /* Prevents image repetition */
    padding-bottom: 100px;
    }




#main-grid{
    display: grid;
    grid-template-rows: repeat(12, 100px);
    grid-template-columns: repeat(12, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    background-color: #6D7546;
    border-radius: 20px; /* Curves the corners with a radius of 15px */
    padding: 20px;
    margin-top: 500px;
    }







.one{
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: center;
    }
    .two{
        grid-column: 2/6;
        grid-row: 3/4;
        align-self: top;
        }
        .three{
            grid-column: 2/6;
            grid-row: 4/6;
            align-self: center;
            }
            .four{
                grid-column: 8/10;
                grid-row: 7/8;
                align-self: center;
                }
                .five{
                    grid-column: 8/12;
                    grid-row: 8/9;
                    align-self: center;
                    }
                    .six{
                        grid-column: 8/12;
                        grid-row: 9/12;
                        align-self: center;
                        }




.pic{
    grid-row: 2/6;
    grid-column: 8/12;
    align-self: center;
    }
    .pic-two{
        grid-row: 7/12;
        grid-column: 2/8;
        align-self: center;
        }
        img{
            border-radius: 117.5px;
            }
        



footer{
    text-align: center;
    background-color: #344F2F;
    color: #FFF;
    height: 30px;
    padding-top: 10px;
    position:fixed;
    }