.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        }
  





nav a{
    color: white;
    font-family: Montserrat;
    background-color: #6D7546;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    }

h1{
    margin-top: auto;
    font-family: Montserrat;
    font-size: 90px;
    color: white;
    flex-shrink: 0;
    color: #6D7546;
    font-style: bold;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    }
    h3{
        color: rgb(255, 241, 225);
        font-family: Sacramento;
        font-size: 65px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        }
        h5{
            color: white;
            font-family: Montserrat;
            background-color: #6D7546;
            font-size: 16px;
            padding: 10px;
            border-radius: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
      






body {
    margin: 0;
    height: 200%; /* Full height of the page */
    background: 
      linear-gradient(to bottom, bisque 15%, transparent 50%),
      url('../../img/darkleaves.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
    background-repeat: no-repeat; /* Prevents image repetition */
    padding-bottom: 100px;
    }




#main-grid{
    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(12, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    background-color: #344F2F;
    border-radius: 20px; /* Curves the corners with a radius of 15px */
    padding: 20px;
    margin: 500px 50px 500px 50px;
    }

    p{
        color: white;
        font-family: Montserrat;
    }






.one{
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: center;
    }
    .two{
        grid-column: 2/6;
        grid-row: 3/4;
        align-self: top;
        }
        .three{
            grid-column: 2/6;
            grid-row: 4/6;
            align-self: center;
            }
            .four{
                grid-column: 8/10;
                grid-row: 7/8;
                align-self: center;
                }
                .five{
                    grid-column: 8/12;
                    grid-row: 8/9;
                    align-self: center;
                    }
                    .six{
                        grid-column: 8/12;
                        grid-row: 9/12;
                        align-self: center;
                        }




.pic{
    grid-row: 2/6;
    grid-column: 8/12;
    align-self: center;
    }
    .pic-two{
        grid-row: 7/12;
        grid-column: 2/8;
        align-self: center;
        }
        img{
            border-radius: 117.5px;
            }
        



            footer{
                background-color: #444425;
                color: white;
                font-family: 'Courier New', Courier, monospace;
                padding: 10px 0px 10px 0px;
                text-align: center;
              }