/*=================FONTS=================*/

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        }
        .roboto-mono{
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            }


/*===================BODY==================*/

body {
    margin: 0;
    height: 200%;
    background: 
      linear-gradient(to bottom, bisque 15%, transparent 50%),
      url('../../img/darkleaves.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

/*------------------STYLE-------------------*/

nav a{
    color: white;
    font-family: Roboto Mono;
    background-color: #6D7546;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    margin-top: 50px;
    }
    h1{
        font-family: 'Courier New', Courier, monospace;
            font-size: 110px;
            font-weight: 400px;
            color: #6D7546;
            text-align: center;
            justify-self: center;
            margin-top: 80px;
            }


/*===================MAIN GRID==================*/

#main-grid{
    display: grid;
    grid-template-rows: repeat(7, 100px);
    grid-template-columns: repeat(10, 1fr);
    background-color: #344F2F;
    border-radius: 15px;
    margin: 450px 50px 200px 50px;
    }
    .name{
        grid-column: 2/6;
        grid-row: 2/3;
        align-self: center;
        }
        .rectangle{
            grid-column: 2/6;
            grid-row: 3/4;
            align-self: center;
            margin: 0px 100px 60px 0px;
            }
            .p{
                grid-column: 2/6;
                grid-row: 4/6;
                align-self: center;
                margin-bottom: 100px;
                }
                .pic{
                    grid-row: 2/7;
                    grid-column: 7/9;
                    align-self: center;
                    padding: 20px 0px 0px 20px;
                    }  
                    .pin-2{
                        grid-row: 5/7;
                        grid-column: 2/4;
                        margin: 60px 0px 0px 0px;
                        }
                        .pin-3{
                            grid-row: 5/7;
                            grid-column: 3/5;
                            margin: 60px 0px 0px 40px;
                            }
                            .pin-4{
                                grid-row: 5/7;
                                grid-column: 4/6;
                                margin: 60px 0px 0px 80px;
                                }

/*------------------STYLE-------------------*/

h3{
    color: rgb(255, 241, 225);
    font-family: Sacramento;
    font-size: 50px;
    font-weight: 100;
    line-height: normal;
    }
    .rectangle h5{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        background-color: #6D7546;
        font-size: 18px;
        font-weight: 300px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        }
        p{
            color: white;
            font-family: Roboto Mono;
            font-size: 12px;
            align-self: center;
            }
            .pic img{
                border-radius: 80px;
            }
            .pin-2 img, .pin-3 img, .pin-4 img{
                height: auto;
                width: 140px;
                }


/*===================FOOTER==================*/

footer{
    background-color: #444425;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0px 10px 0px;
    text-align: center;
    }